logs/*.log
logs/DEFAULT_LOGGING.xml
logs/GEOSERVER_DEVELOPER_LOGGING.xml
logs/GEOTOOLS_DEVELOPER_LOGGING.xml
logs/PRODUCTION_LOGGING.xml
logs/QUIET_LOGGING.xml
logs/TEST_LOGGING.xml
logs/VERBOSE_LOGGING.xml
